@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    Layout = "_DetailsLayout";

}

<br>
<h1 align="center">
    <span style="color: greenyellow">Your account have been successfully verified. You can now</span> <a href="/Identity/Account/Login" style="color: blue">Log In</a><br />
</h1>
<br />
<br />
<br />
<br />
