@page
@{
    Layout = "_DetailsLayout";
}
<br>
<h3 class="text-info" align="center">
    Your registration was successfull.
</h3>

<p align="center" style="color: #17a2b8">
    Please, check your email and click on the verification link to activate your account!<br />
</p>
<br />
<br />
<br />
<br />

