@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_FormsLayout";
}

<div class="container">
    <div class="row" style="margin-top: 90px">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">@ViewData["Title"]</h5>
                    <form class="form-signin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="carousel-control"></div>
                        <div class="form-label-group">
                            <input asp-for="Input.Email" style="font-size: 13px;" class="form-control">
                            <label asp-for="Input.Email"></label>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Input.Password" class="form-control" />
                            <label asp-for="Input.Password"></label>
                        </div>
                        <div class="form-label-group">
                            <input asp-for="Input.ConfirmPassword" class="form-control">
                            <label asp-for="Input.ConfirmPassword"></label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                        <hr class="my-4">
                        <p class="container-fluid container text-md-center">
                            Already have an account?
                        </p>
                    </form>
                    <form class="form-signin" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <a class="btn btn-lg btn-block text-uppercase" asp-area="Identity" asp-page="/Account/Login"><i class="fab fa-google mr-2"></i> Sign in</a>

                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit" name="provider" value="Facebook" title="Log in using your Facebook account"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit" name="provider" value="Google" title="Log in using your Google account"><i class="fab fa-facebook-f mr-2"></i> Sign in with Google</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>