@{
    Layout = "_DetailsLayout";
}
<div class="container">
    <div class="tt-block-title tt-sub-pages">
        <h1 class="tt-title">About Us</h1>
        <div class="tt-description">Our Reputation Speaks for itself</div>
    </div>
    <div class="tt-box-layout01 row">
        <div class="tt-col-img col-md-5 col-lg-6">
            <img src="/images/custom/img_04.png" alt="">
        </div>
        <div class="tt-col-description col-md-7 col-lg-6">
            <h6>25 Years of Experience</h6>
            <p>
                For 25 years, <strong class="tt-default-color">Car Leader</strong> has been raising the standard of used car retailing with one of the most innovative and reliable used vehicle programmes ever created. A comprehensive range of benefits as standard has evolved over time and, today, drivers can leave the forecourt with total reassurance and peace of mind.
            </p>
            <p>
                For used vehicles, we calculate a fair retail price based on a detailed analysis of comparable current and previous car listings in a given market. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis autem minus error nulla.
            </p>
            <ul class="tt-list01">
                <li><a href="#">Guaranteed lien-free vehicles</a></li>
                <li><a href="#">Contribute to a compensation fund for your protection</a></li>
                <li><a href="#">Complete frame inspection</a></li>
                <li><a href="#">Preferred dealer financing</a></li>
                <li><a href="#">30-day dealer warranty</a></li>
                <li><a href="#">All vehicles serviced</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="tt-box-layout02">
    <div class="container">
        <div class="tt-block-title">
            <h3 class="tt-title">Reasons to Buy From <strong class="tt-defaul-color">Car</strong> Leader</h3>
            <div class="tt-description">We're here for whatever you need</div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="tt-item">
                    <div class="tt-col-icon">
                        <div class="tt-icon">
                            <i class="icon-vehicles"></i>
                        </div>
                    </div>
                    <div class="tt-col-description">
                        <h6>Certified Vehicles That Look and Feel New</h6>
                        Each vehicle is detailed and washed to guarantee that you feel like the first owner.
                    </div>
                </div>
                <div class="tt-item">
                    <div class="tt-col-icon">
                        <div class="tt-icon">
                            <i class="icon-report"></i>
                        </div>
                    </div>
                    <div class="tt-col-description">
                        <h6>Free Autocheck Vehicle History Report</h6>
                        We fully disclose the histories of our vehicles, including accident history, service records, number of prior owners, and more.
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="tt-item">
                    <div class="tt-col-icon">
                        <div class="tt-icon">
                            <i class="icon-price-tag"></i>
                        </div>
                    </div>
                    <div class="tt-col-description">
                        <h6>We Start With Our Best Price</h6>
                        Our internet price is posted at or below market level, and we post a NADA price on our windows so you can compare.
                    </div>
                </div>
                <div class="tt-item">
                    <div class="tt-col-icon">
                        <div class="tt-icon">
                            <i class="icon-awards"></i>
                        </div>
                    </div>
                    <div class="tt-col-description">
                        <h6>3-Month or 3,000 Miles Limited Warranty</h6>
                        Every <strong>Car Leader</strong> Certified vehicle comes with a 3 month / 3,000 mile Limited Warranty included in the purchase price.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="tt-block-title">
        <h3 class="tt-title">Experience the <strong class="tt-defaul-color">Car</strong> Leader Difference</h3>
        <div class="tt-description">The Easiest Way to Find Your Next Car</div>
    </div>
    <div class="tt-box-layout03">
        <div class="row flex-md-row-reverse">
            <div class="col-12 col-md-5 col-lg-6 col-xl-7">
                <div class="tt-video-block">
                    <a href="#" class="link-video"></a>
                    <video class="movie" src="/video/video.mp4" poster="video/video_img.jpg"></video>
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-6 col-xl-5">
                <h6>Our Vision & Purpose</h6>
                <div class="tt-item">
                    <div class="tt-col-icon">
                        <i class="icon-546419"></i>
                    </div>
                    <div class="tt-col-description">
                        Our Mission is to simply be the best in every area of our business. We will accomplish this by providing the most exceptional customer experience, being the best place to work, and strongly supporting our community, all while working together as <br><a class="tt-link" href="#">Car Leader!</a>
                    </div>
                </div>
                <h6>Our Core Values</h6>
                <div class="tt-item">
                    <div class="tt-col-icon">
                        <i class="icon-84466"></i>
                    </div>
                    <div class="tt-col-description">
                        Our core values are the pillars that support our Mission statement. They form the rock solid foundation that guides our individual and collective actions. These core values are intertwined so that each supports the other.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-indent marginnone">
    <div class="tt-promo-03-layout">
        <div class="container">
            <h5 class="tt-title">Vehicle Search Satisfaction Guaranteed</h5>
            <p>
                With history-checked cars and innovative search options, there are many ways Car Leader can help you to find your next vehicle.
            </p>
            <h6 class="tt-title">Not sure what you want?</h6>
            <a class="btn" asp-controller="Search" asp-action="Result">FIND MY NEXT CAR</a>
        </div>
    </div>
</div>
<div class="container-indent container-indent-03 tt-mobile-hidden">
    <div class="tt-map">
        <a href="#" class="tt-btn-toggle"></a>
        <div class="tt-box-map">
            <div id="googleMapFooter" class="google-map"></div>
        </div>
    </div>
</div>